// ABOUT


.about{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2{
    font-size: $taille6;
    color: $gray5;
    line-height: $lh2;
  }
  .full{
    display: flex;
    justify-content: space-around;
    width: 100%;
    .half{
      width: 30vw;
      h3{
        font-size: $taille4;
        text-transform: uppercase;
        color: $orange1;
        display: flex;
        align-items: center;
        span{
          font-size: $taille5;
          margin-right: 10px;
        }
      }
      p{
        font-size: $taille4;
        line-height: $lh1;
        span{font-weight: $fw600;}
      }
    }
  }
  .link{
    @include flx-ctr;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: $orange2;
    background-image: -webkit-linear-gradient(to left, $orange1, $orange2);
    background-image: -o-linear-gradient(to left, $orange1, $orange2);
    background-image: linear-gradient(to left, $orange1, $orange2);
    a{
      text-transform: uppercase;
      @include flx-ctr;
      color: $white;
      border-radius: 50px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      @include fast-transition;
      border-radius: 50px;
      border: none;
      &:hover{
        color: $gray4;
        background-color: $white;
      }
    }
  }
}





// SECTION MAP


.map-section{
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  a.offres{
    position: relative;
    z-index: 1;
    color: $white;
    font-size: $taille4;
    font-weight: $fw500;
    border: none;
    border-radius: 50px;
    margin: 50px 0;
    padding: 5px 40px;
    box-shadow : 2px 2px 14px -2px #282828;
    @include fast-transition;
    @include gradient-horizontal($blue2, $blue1, 0%, 100%);
    &:hover{
      @include gradient-horizontal($blue2, $blue1, 10%, 100%);
    }
  }
}




// SECTION AVANTAGES


.benefit-section{
  min-height: 50vh;
  background-color: $gray1;
  @include flx-ctr;
  flex-direction: column;
  padding: 0 80px;
  h2{
    color: $gray5;
    font-size: $taille6;
  }
  .full{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .quarter{
      margin: 40px 0;
      @include flx-ctr;
      flex-direction: column;
      width: 20vw;
      img{
        width: 100px;
        margin: 20px 0;
      }
      p{
        line-height: $lh1;
        text-align: center;
      }
    }
  }
}






// SECTION CANDIDAT


.candidat-section{
  @include flx-ctr;
  justify-content: space-around;
  flex-direction: column;
  min-height: 90vh;
    h2{
      font-size: $taille6;
      color: $gray5;
      text-transform: uppercase;
    }
    .full{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .third{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 20vw;
        img{
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: none;
        }
        h3{
          font-weight: $fw600;
          font-size: $taille5;
          line-height: $lh2;
          margin: 10px 0;
        }
        p:nth-child(3){
          font-size: $taille4;
          text-transform: uppercase;
          color: $gray2;
          line-height: $lh2;
        }
        hr{
          width: 10%;
          margin: 8px 0 20px 0;
        }
        p:nth-child(5){
          font-size: 20px;
          font-weight: $fw500;
          line-height: $lh2;
          letter-spacing: $space1;
        }
      }
    }
    .link{
      @include flx-ctr;
      box-sizing: border-box;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      background-color: $orange2;
      background-image: -webkit-linear-gradient(to left, $orange1, $orange2);
      background-image: -o-linear-gradient(to left, $orange1, $orange2);
      background-image: linear-gradient(to left, $orange1, $orange2);
      a{
        text-transform: uppercase;
        @include flx-ctr;
        color: $white;
        border-radius: 50px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        @include fast-transition;
        border-radius: 50px;
        border: none;
        &:hover{
          color: $gray4;
          background-color: $white;
        }
      }
    }
  }
