footer{
  min-height: 60vh;
  background-color: $gray5;
  .colonne{
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: $lh2;
    padding: 0 80px;
    .logo-ico{
      display: flex;
      flex-wrap: wrap;
      margin: 40px 0;
      img{
        width: 250px;
      }
      .ico{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 60px;
        .circle{
          @include flx-ctr;
          margin-left: 20px;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          span{
            color: white;
            font-size: $taille6;
          }
        }
        .facebook{
          background-color: $facebook;
          &:hover{
            box-shadow: 0 0 2px $facebook;
          }
        }
        .twitter{
          background-color: $twitter;
          &:hover{
            box-shadow: 0 0 2px $twitter;
          }
        }
        .linkedin{
          background-color: $linkedin;
          &:hover{
            box-shadow: 0 0 2px $linkedin;
          }
        }
        .viadeo{
          background-color: $viadeo;
          &:hover{
            box-shadow: 0 0 2px $viadeo;
          }
        }
      }
    }
    .list-link{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0;
      .list{
        h4{
          color: $white;
        }
        ul{
          padding: 0;
          li{
            margin: 10px 0;
            a{
              color: $gray3;
              @include fast-transition;
              &:hover{
                color: $gray2;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .mention{
      display: flex;
      justify-content: space-between;
      width: 20vw;
      margin-top: 40px;
      p{
        font-size: $taille2;
        color: $gray4;
        text-transform: uppercase;
      }
    }
  }
}
